nav{
    background-color: rgb(58, 58, 58);
}

nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li{
    padding: 8px;
    text-align: center;
}

nav li:hover a{
    color: black;
    cursor: pointer;
}

nav li:hover {
    background-color: white;
    cursor: pointer;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 8px; 
}

main{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1rem;
    align-items: start;
    grid-template-areas: 
    "h h"
    "n n"
    "ac as"
    "f f";
}

header{
    grid-area: h;
}

nav{
    grid-area: n;
}

article {
    grid-area: ac;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

aside{
    grid-area: as;
    height: 100%;
}

footer{
    grid-area: f;
}

.cikk{
    display: grid;
    grid-template-rows: auto 1fr auto ;
}

